body {
	background-image: linear-gradient(#0086D7, #0068A7);
	background-size: cover;
	margin: 0;
	min-height: 100vh;
	width: 100vw;
}

/* Generics */

a, label {
	font-family: Dosis;
	text-decoration: none;
}

button, input[type="submit"] {
	border: none;
	cursor: pointer;
}

input[type="submit"] {
	-webkit-appearance: none;
}
ul {
	list-style: none;
	padding: 0;
}

/* Main */

.container { 
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1000px;
	padding: 3em;
}

/* Header */

.header {
	display: flex;
	justify-content: flex-start;
}
.header h1 {
	order: 1;

	margin: 0 0 0 1em;

	color: white;
	font-family: Dosis;
	font-size: 4em;
}
/* Buttons */

.btn-home {
	display: block;

	height: 75px;
	width: 75px;

	background-image: url(assets/images/home.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
}

.btn-board {
	flex: 1 1 25%;
	display: block;

	box-sizing: border-box;
	margin: 2% 1%;
	padding: 2em .5em;

	background-color: white;
	box-shadow: 3px 5px 10px #005486;

	color: #434343;
	font-size: 1.5em;
	letter-spacing: .050em;
	text-align: center;
	text-transform: uppercase;
}

.btn-board--new {
	flex: .25 1 25%;
	background-color: #51BC70;
	color: white;
}

.btn-add-list {
	flex: .1 1 25%;

	border: none;
	min-height: 150px;
	margin: 2% 1%;
	padding: 1em;
	width: 23%;

	background-color: #51BC70;
	box-shadow: 3px 5px 10px #434343;

	color: white;
	font-size: 1.25em;
	letter-spacing: .050em;
	text-align: center;
	text-transform: uppercase;

}

/* Nav */

.boards-menu {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Forms */

label, input {
	display: block;
	width: 100%;

	color: #434343;
	font-size: 1em;
	letter-spacing: .050em;
}

input {
	box-sizing: border-box;
	margin: 1.5em 0;
	padding: .5em;

}

.form-new-board,
.form-new-list {
	flex: .1 1 25%;

	position: relative;

	margin: 2% 0;
	padding: 1em;
	width: 25%;

	background-color: white;
	box-shadow: 3px 5px 10px #005486;

	overflow: auto;
}

.new-board-submit {

	margin-bottom: 0;
	padding: .5em;

	background-color: #51BC70;

	color: white;
	text-transform: uppercase;
}

.new-board-cancel {
	position: absolute;
	top: 0;
	right: 0;

	border: none;
	padding: .5em;

	background-color: transparent;

	color: #434343;
	font-size: 1.5em;
	text-transform: uppercase;

}

/* Board section */

.section-board {
	background-color: #BFE1F5;
	border: 5px solid white;
	margin-top: 5%;
	padding: 5%;
}

.section-board h2 {

	margin-top: 0;

	color: #434343;
	font-family: Dosis;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}

/* Board lists */
.board-lists {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.board-list-section {
	flex: 1 1 25%;

	border: none;
	box-sizing: border-box;
	margin: 2% 1%;
	min-height: 150px;
	padding: 1em;

	background-color: white;
	box-shadow: 3px 5px 10px #434343;

	color: #434343;
	font-size: 1.25em;
	letter-spacing: .050em;
	text-align: center;

}
.board-list-section h2 {
	margin: 0;
	font-family: Dosis;
	font-size: 1.25em;

	color: #434343;
	text-transform: uppercase;
}

.board-list-item {
	position: relative;

	margin: 5% 0;
	padding: 3% 5%;

	background-color: #DDA920;
	color: white;
	font-family: Dosis;
	font-size: 1em;
	text-align: left;
}

.board-list-item-complete {
	background-color: #51BC70;
}

.btn-item {
	position: absolute;
	right: 5%;

	height: 25px;
	width: 25px;

	background-color: transparent;
}

.btn-item-incomplete {
	background-image: url("assets/images/tick.png");
	background-position: 0;
	background-size: cover;
}

.btn-item-complete {
	background-image: url("assets/images/tick-gray.png");
	background-position: 0;
	background-size: cover;
}

.page-not-found__message {
	color: white;	
	font-family: Dosis;
	font-size: 1.5em;
	text-align: left;
}

.page-not-found__link {
	color: white;
	font-weight: bold;
	text-decoration: underline;
}

@media (max-width: 768px) {

	.container {
		padding-left: 3%;
		padding-right: 3%;
	}

	.header {
		margin-bottom: 3em;
		padding: 0 1em;
	}
	.header h1 {
		padding-top: .25em;

		font-size: 2.5em;
	}
	.form-new-board {
		flex: .1 1 100%;
	}
	.btn-add-list {
		flex: .1 1 100%;
	}
	.board-list-section {
		flex: 1 1 100%;	
	}
	.btn-board {
		flex: 1 1 100%;
		margin: 2% 0;
	}
}

