body {
	background-image: linear-gradient(#0086D7, #0068A7);
	background-size: cover;
	min-height: 100vh;
	width: 100vw;
}

/* Generics */

a, label {
	font-family: Dosis;
	text-decoration: none;
}

button, input[type="submit"] {
	cursor: pointer;
}

ul {
	list-style: none;
	padding: 0;
}

/* Main */

.container { 
	box-sizing: border-box;
	padding: 3em;
}

/* Header */

.header {
	display: flex;
	justify-content: flex-start;
}
.header h1 {
	order: 1;

	margin: 0 0 0 1em;

	color: white;
	font-family: Dosis;
	font-size: 4em;
}
/* Buttons */

.btn-home {
	display: block;

	height: 75px;
	width: 75px;

	background-image: url(assets/images/home.png);
	background-size: cover;
}

.btn-board {
	display: block;
	float: left;

	box-sizing: border-box;
	margin: 2% 1%;
	padding: 2em .5em;
	width: 23%;

	background-color: white;
	box-shadow: 3px 5px 10px #005486;

	color: #434343;
	font-size: 1.5em;
	letter-spacing: .050em;
	text-align: center;
	text-transform: uppercase;
}

.btn-board--new {
	background-color: #51BC70;
	color: white;
}

.btn-add-list {
	flex: .1 1 25%;
	min-height: 150px;
	margin: 2% 1%;
	padding: 1em;
	width: 23%;

	background-color: white;
	border: none;

	color: #434343;
	font-size: 1.25em;
	letter-spacing: .050em;
	text-align: center;
	text-transform: uppercase;

}

/* Nav */

.boards-menu {
	overflow: auto;
}

/* Forms */

label, input {
	display: block;
	width: 100%;

	color: #434343;
	font-size: 1em;
	letter-spacing: .050em;
}

input {
	box-sizing: border-box;
	margin: 1.5em 0;
	padding: .5em;

}

.form-new-board {
	position: relative;

	margin: 2% 0;
	padding: 1em;
	width: 25%;

	background-color: white;

	overflow: auto;
}

.new-board-submit {

	margin-bottom: 0;
	padding: .5em;

	background-color: #51BC70;

	color: white;
	text-transform: uppercase;
}

.new-board-cancel {
	position: absolute;
	top: 0;
	right: 0;

	border: none;
	padding: .5em;

	background-color: transparent;

	color: black;
	font-size: 1.5em;
	text-transform: uppercase;

}

/* Board section */

.section-board h2 {

	color: white;
	font-family: Dosis;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
}

/* Board lists */
.board-lists {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.board-list-section {
	flex: 1 1 25%;

	margin: 2% 1%;
	min-height: 150px;
	padding: 1em;

	background-color: white;
	border: none;
	box-sizing: border-box;

	color: #434343;
	font-size: 1.25em;
	letter-spacing: .050em;
	text-align: center;
	text-transform: uppercase;

}

.board-list-section h2 {
	margin: 0;
	font-family: Dosis;
	font-size: 1.25em;

	color: #434343;
}

.board-list-item {
	position: relative;

	margin: 5% 0;
	padding: 3% 5%;

	background-color: lightgreen;

	font-family: Dosis;
	font-size: .75em;
	text-align: left;
	text-transform: lowercase;
}

.board-list-item-complete {
	background-color: gray;
}

.btn-item {
	position: absolute;
	right: 5%;
}

.btn-item-complete {

}

.btn-item-incomplete {

}